{% extends "blog/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <h1>Profile</h1>
  <form method="post">
    {% csrf_token %}
    <p><label>Username: </label> {{ user.username }}</p>
    <p>
      <label for="id_email">Email:</label>
      <input id="id_email" name="email" value="{{ user.email }}">
    </p>
    <p>
      <label for="id_first_name">First name:</label>
      <input id="id_first_name" name="first_name" value="{{ user.first_name }}">
    </p>
    <p>
      <label for="id_last_name">Last name:</label>
      <input id="id_last_name" name="last_name" value="{{ user.last_name }}">
    </p>
    <button type="submit">Save</button>
  </form>
{% endblock %}
